#container {
	background-color: #FAFAFA;
	position: relative;
	margin-top: 25px;
}

#content {
	background-color: #FAFAFA;
	/*font-family: "embury-text", serif;*/
	font-style: normal;
	font-weight: 200;
}

#footer {
	text-align: center;
}

#header {
	width: 100%;
	background-color: #4C230A;
	height: 100px;
	color: #FAFAFA;
}

#greeting {
	margin-top: 20px;
	font-size: 48px;
}





.row {
	margin-left: 100px;
}

.card {
	text-align: left;
}

